pandas==1.5.1
streamlit==1.14.0
numpy==1.23.4

regex==2022.10.31
contractions==0.1.72
num2words==0.5.12
nltk==3.7
pydantic==1.10.2
gensim==4.2.0
h5py==3.7.0
Cython==0.29.28
protobuf==3.19.6

tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1

tensorflow-estimator==2.9.0

tensorflow-io-gcs-filesystem==0.27.0

intel-tensorflow==2.9.1
tensorflow==2.9.1

keras==2.9.0